body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    background: #020617;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

h1 {
    text-align: center;
    color: #38bdf8;
}

#text {
    background: #020617;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    line-height: 1.6;
}

textarea {
    width: 100%;
    height: 120px;
    background: #020617;
    color: #fff;
    border: 1px solid #38bdf8;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}
